!!!
%html
  %head
    %title #{board.title} - Thunderlight
    %link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/dot-luv/jquery-ui.css")
    %link(rel="stylesheet" href="/css/jquery-ui-tweeks.css")
    %link(rel="stylesheet" href="/css/hexgrid.css")
    %link(rel="stylesheet" href="/css/vector_dialog.css")
    %script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    %script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    %script(src="/js/game_board.js")
    %script(src="/js/vector_editor.js")
  %body
    #toolbar
      .turncounter
        %span.label turn
        %span.value=board.turn_number
      %form{action: "/board/#{board.id}/tick", method: 'POST'}
        %input.tick{type: 'submit', value: 'Tick'}
    #gameboard{board_id: board.id}
      - (0..(board.height - 1)).each do |y|
        .hexrow
          - (0..(board.width - 1)).each do |x|
            %div.cell{id: "cell_#{x}_#{y}"}
              - if board.units[[x,y]].nil?
                %span.coordinates (#{x},#{y})
              - else
                %span
                  - board.units[[x,y]].each do |u|
                    %p.unit{  uid: u.uid, title: u.title, thrust_points: u.thrust_points, |
                      coord: [x, y].to_json, vector: u.vector.to_json,                    |
                      next_vector: (u.next_vector.nil? ? '' : u.next_vector.to_json),     |
                      class: ('awaitingmovement' if u.next_vector.nil?) }                 |
                      = u.title
                      %span.coordinates=(u.display_vector || {}).map{|k,v| "#{k}#{v}"}.join(' ')
                    %br
              .leftwing
              .rightwing
    = haml :vector_dialog
