!!!
%html
  %head
    %title ThunderLight
    %link(rel="stylesheet" href="/css/hexgrid.css")
  %body
    #toolbar
      %form{action: '/game_board/tick', method: 'POST'}
        %input{type: 'submit', value: 'tick'}
    #gameboard
      - (0..(board.height - 1)).each do |y|
        .hexrow
          - (0..(board.width - 1)).each do |x|
            %div
              - if board.units[[x,y]].nil?
                %span.coordinates (#{x},#{y})
              - else
                %span
                  - board.units[[x,y]].each do |u|
                    %p.unit
                      = u.title
                      - if !u.vector.nil?
                        %span.coordinates=u.vector.map{|k,v| "#{k}#{v}"}.join(' ')
                    %br
              .leftwing
              .rightwing
