!!!
%html
  %head
    %title ThunderLight
    %link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/dot-luv/jquery-ui.css")
    %link(rel="stylesheet" href="/css/jquery-ui-tweeks.css")
    %link(rel="stylesheet" href="/css/hexgrid.css")
    %link(rel="stylesheet" href="/css/vector_dialog.css")
    %script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    %script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    %script(src="/js/game_board.js")
    %script(src="/js/vector_editor.js")
  %body
    #toolbar
      %form{action: '/game_board/tick', method: 'POST'}
        %input.tick{type: 'submit', value: 'Tick'}
    #gameboard
      - (0..(board.height - 1)).each do |y|
        .hexrow
          - (0..(board.width - 1)).each do |x|
            %div.cell{id: "cell_#{x}_#{y}"}
              - if board.units[[x,y]].nil?
                %span.coordinates (#{x},#{y})
              - else
                %span
                  - board.units[[x,y]].each do |u|
                    %p.unit{  uid: u.uid, title: u.title,                    |
                    thrust_points: u.thrust_points,                          |
                            coord: [x, y].to_json,                           |
                           vector: u.vector.to_json,                         |
                           thrust: (u.thrust.nil? ? '' : u.thrust.to_json) } |
                      = u.title
                      - if !u.vector.nil?
                        %span.coordinates=u.vector.map{|k,v| "#{k}#{v}"}.join(' ')
                    %br
              .leftwing
              .rightwing
    = haml :vector_dialog
