!!!
%html
  %head
    %title ThunderLight
    %link(rel="stylesheet" href="/css/hexgrid.css")
  %body
    #gameboard
      - (0..(height - 1)).each do |x|
        .hexrow
          - (0..(width - 1)).each do |y|
            %div
              - if units[[x,y]].nil?
                %span.coordinates (#{x},#{y})
              - else
                %span
                  - units[[x,y]].each do |u|
                    %p.unit
                      = u.title
                      - if !u.vector.nil?
                        %br
                        %span=u.vector.map{|k,v| "#{k}#{v}"}.join(' ')
                    %br
              .leftwing
              .rightwing
